h1{
  margin-left: 200px;
}
h1
{
  color: black;
}
img{
  border: 10px solid green;
  border-radius: 50%;
}
*{
  font-style: italic;
}
body{
  background-color: pink;
}
h1{
  color: brown
}
h2{
  color: purple
}
h3{
  color: blue
}
.one{
  display: flex;
  justify-content: space-around;
  background-color: cadetblue;
}
